@import "tailwindcss";

:root {
  --background: #fffef6;
  --background-primary: #f3f7ec;
  --primary: #9ed5d1;
  --primary-dark: #92bdbb;
  --secondary: #c4e2d0;
  --secondary-dark: #b8d1c4;
  --text-color: #383838;
}

@theme inline {
  --color-background: var(--background);
  --color-background-primary: var(--background-primary);
  --font-marcellus: var(--font-marcellus);
  --font-jakarta: var(--font-plus-jakarta-sans);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --color-text: var(--text-color);

  /* Shadows */
  --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.01);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.04);
  --shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.1);

  /* Container widths */
  --breakpoint-2xl: 85rem;
}
body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}
